@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can also add custom global styles here */
html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased; /* Makes fonts look crisper */
}