---
import ThemeToggleWithProvider from "../react/ThemeToggleWithProvider";
---

<div class="fixed bottom-5 right-5 z-95">
  <ThemeToggleWithProvider
    client:idle
    className="bg-site-bg/90 shadow-lg ring-1 ring-border/80 backdrop-blur-xl hover:bg-surface"
  />
</div>
