---
import { Image } from "astro:assets";
import favicon from "../../assets/favicons/favicon.svg";
---

<a
  href="/"
  class="items-center font-sans tracking-tighter text-site-text flex gap-2"
>
  <Image
    src={favicon}
    alt="Twilight Psychology Logo"
    width={240}
    height={180}
    class="h-10 w-auto mb-1"
  />
  <span class="font-serif font-black text-site-text hover:text-cta transition-colors"
    >Twilight <br class="md:hidden" /> Psychology</span
  >
</a>
