<div
  class="dark text-black text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
<span
  class="bg-black dark:bg-white text-white dark:text-black font-black px-1.5 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block rounded-sm uppercase tracking-wider"
>NEW
</span>

  <a href="https://heatherlcornett.clientsecure.me/contact-widget" class="text-black hover:underline font-bold"
    >Now accepting new clients for therapy and Medication management »</a
  >
</div>