---

---

<div
  class="flex items-center gap-2 overflow-hidden px-4 py-2 relative bg-zinc-950 border-b border-white/5"
>
  <span
    class="bg-amber-500/10 border border-amber-500/30 text-amber-500 font-black px-2 py-0.5 text-[10px] tracking-widest uppercase rounded-sm shrink-0"
  >
    NEW
  </span>

  <p class="text-indigo-100/90 font-medium text-xs sm:text-sm truncate">
    Openings available for <span class="text-white">med management</span> and
    <span class="text-white">therapy</span>.
  </p>
</div>
