---
import { Icon } from "astro-icon/components";
---

<div
  class="flex items-center gap-2 overflow-hidden px-4 py-2 relative bg-site-ann/40 border-b border-indigo-500/20"
>
  <div class="flex items-center gap-3">
    <Icon name={"mdi:moon-and-stars"} class="w-6 h-6 text-site-sub shrink-0" style="color: #DFCAAA;" 
    />
    
    <p class="text-indigo-200 font-medium text-xs sm:text-sm truncate">
      Openings available for <span class="text-site-text">med management</span> and
      <span class="text-site-text">therapy</span>.
    </p>
  </div>
</div>
