---
import Layout from './Layout.astro';
import '../styles/global.css'
const { name, description } = Astro.props;
---

<Layout title={`${name} | ${description} | Twilight Psychology`}>
  <main class="bg-indigo-950 min-h-screen pb-24">
    <div class="max-w-4xl mx-auto px-6">

      <div class="prose prose-lg max-w-none prose-custom
                  prose-p:text-zinc-900 dark:prose-p:text-zinc-100 
                  prose-headings:text-black dark:prose-headings:text-white
                  prose-strong:text-black dark:prose-strong:text-white
                  prose-li:text-zinc-900 dark:prose-li:text-zinc-100">
        <slot />
      </div>
    </div>
  </main>
</Layout>
